.embla {
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-height: 24rem; /* 높이 조정 */
  width: 100%;
  margin: auto;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
}

.embla__slide {
  flex: 0 0 100%; /* 한 번에 한 슬라이드만 보이도록 설정 */
  min-width: 0;
  position: relative;
}

.embla__slide__inner {
  height: var(--slide-height);
  position: relative;
  display: block;
  overflow: hidden;
}

.toggleContainer {
  text-align: center;
}
